.ttm_floting_customsett
{
    display: none;
}
#slider-1-slide-1-layer-2,#slider-1-slide-4-layer-2,.ttm-textcolor-skincolor,#slider-1-slide-1-layer-2_2030
{
    font-size:40px !important;
}
.featured-icon-box.icon-align-top-content.style7 {
    height: 240px;
}